.parent{
    /* display: flex; */
    align-items: center;
    justify-content: space-around;
    min-height: 30vh;
}
.header-parent{
    display: flex;
    align-items: center;
    justify-content: center;
}
.first-letter{
    text-transform: capitalize;
}
.tabValue{
    display: flex;
    align-items: center;
    /* gap: 10%; */
    justify-content: space-around;
}